* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.stores {
  display: flex;
  justify-content: center;
  width: 100%;
}

.store-cards {
  display: flex;
  justify-content: space-between;
  width: 60%;
  align-items: center;
}

.search-field-div {
  margin: 10%;
  display: flex;
  justify-content: center;
}

.allStore-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.title-allProducts {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5% 0;
}

.button-field {
  width: 100%;
  text-align: center;
  margin: 2% 0;
}